# dotfiles
.expires
.kshrc
.lesshst
.plan
.profile
.python_history
.selected_editor
.wget-hsts
.Xauthority
.bash_history
.apt
.cache
.cmake
.conda
.condor
.dircolors
.dotnet
.gnupg
.ipython
.irods
.kde
.keras
.local
.mozilla
.singularity
.ssh
.subversion
.vim
.vscode-server-insiders
.vscode-server
.config
.bash_logout
.viminfo
.java
.Xilinx
*.out
*.err
*.pyc
.airesrc
.Xauthority-l
.screenrc
.byobu
.vscode

# unimportant
filip.code-workspace
bin/history.pickle
anaconda3
Masters
People
projects/StationSoftware/Compiler/Xilinx_SDK_2015.4_1118_2_Lin64.bin
Documents

# git repositories
projects/StationSoftware/DAQ/
projects/XYScanner/xy-calibration/
projects/XYScanner/S4A
projects/ONNXNetwork/



# Condor
*.err
*.log
