# general
*/temp/*


# dotfiles
.*-venv
.venv
.expires
.kshrc
.lesshst
.plan
.profile
.python_history*
.selected_editor
.wget-hsts
.Xauthority
.bash_history
.apt
.cache
.cmake
.conda
.condor
.dircolors
.dotnet
.gnupg
.ipython
.irods
.zcompdump
.kde
.keras
.local
.mozilla
.singularity
.ssh
.subversion
.vim
.vscode-server-insiders
.vscode-server
.config
.bash_logout
.viminfo
.java
.Xilinx
*.out
*.err
*.pyc
.airesrc*
.Xauthority-l
.screenrc
.byobu
.vscode

# unimportant
filip.code-workspace
bin/history.pickle
anaconda3
Masters
People
Documents
Data/
Papers
plots/

# zsh
.histfile
.zsh_history
.oh-my-zsh

# Offline
Make-depend
*.o
**/userAugerOffline
*.P
*/AdstReader

# git repositories / large files
Projects/UUB_DAQ
Data/SDMonitHistos
Projects/StationSoftware/Compiler/Xilinx_SDK_2015.4_1118_2_Lin64.bin
Projects/StationSoftware/DAQ/
Projects/XYScanner/xy-calibration/
Projects/XYScanner/S4A
Projects/uub_daq
Projects/ONNXNetwork/
*.pickle
*.shw
*.root

# LaTeX
*.aux
*.bbl
*.blg
*.toc
*.lot
*.loc
*.soc
*.soc
*.tdo
*.mtc*
*.bcf
*.ptc
*.run.xml

# Condor
*.err
*.log

# LibreOffice
*.~lock.*

*/ADSTReader/*
